__pycache__
_svr
_src
_sse
.venv
cli/profile_default/log
cli/profile_default/pid
cli/profile_default/security
cli/profile_default/history.sqlite
cli/profile_default/db/
cli/requirements.txt
node_modules
mcp/mcproxy/kubernetes/_*.yaml
.task/
_dockerfile
