apiVersion: apps/v1
kind: Deployment
metadata:
  name: mcp-${PACKAGE}-sse-deployment
  namespace: nuvolaris
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mcp-${PACKAGE}-sse
  template:
    metadata:
      labels:
        app: mcp-${PACKAGE}-sse
    spec:
      containers:
      - name: runtime-container
        image: apache/openserverless-runtime-python:v3.13-2506071010
        command: ["python"]
        args: ["${PACKAGE}.py"]
        volumeMounts:
        - name: mcp-sse-sever-script
          mountPath: /app
        env:
        - name: AUTH
          valueFrom:
            secretKeyRef:
              name: mcp-${PACKAGE}-sse-secret
              key: AUTH
        - name: APIHOST
          valueFrom:
            secretKeyRef:
              name: mcp-${PACKAGE}-sse-secret
              key: APIHOST
        - name: OPSDEV_USERNAME
          valueFrom:
            secretKeyRef:
              name: mcp-${PACKAGE}-sse-secret
              key: OPSDEV_USERNAME
        workingDir: /app
      volumes:
      - name: mcp-sse-sever-script
        configMap:
          name: mcp-${PACKAGE}-sse-script
